body {
    background: #30e8bf;
    background: -webkit-linear-gradient(to right, #ff8235, #30e8bf);
    background: linear-gradient(to right, #ff8235, #30e8bf);
  }
  .luckBtn {
    cursor: pointer;
    width: 130px;
  }
  .Wins {
    transform: rotateX(1080deg);
    transition: 1s ease-in-out;
  }
  .cardStyle {
    background-color: transparent !important;
  }
  @media only screen and (min-width: 768px) {
  .cardStyle {
    width: 400px; 
  }
}
@media only screen and (max-width: 767px) {
  .cardStyle {
    width: 90%; 
  }
}